</<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="patientSearchModule">
   <head>
      <meta charset="utf-8">
      <title>Patient Search Page</title>
      <script type="text/javascript" src="./scripts/angular.js"></script>
      <script type="text/javascript" src="./scripts/PatientSearch.js"></script>
      <link rel="stylesheet" href="./styles/PatientCoding.css">
   </head>
   <body ng-controller="patientSearchController">
      <table align="center">
         <thead>
            <tr>
                <td align="center" colspan="5">
                   <a href="MainMenu.html">
                     <img src="./images/logo.svg" id="faciltyLogo">
                  </a>
                </td>
            </tr>
            <tr>
                <td id="facilityName" align="center" colspan="5">
                    <div name="facilityName">Simi Healthcare Center</div>
                </td>

            </tr>
            <tr>
               <th align="center" style="color:blue" colspan="5">
                  Patient Search
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <input type="text" ng-model="patient.mrn"  placeholder="MRN"></input>
               </td>
               <td>
                  <input type="text" ng-model="patient.firstName" placeholder="First Name"></input>
               </td>
               <td>
                  <input type="text" ng-model="patient.lastName" placeholder="Last Name"></input>
               </td>
               <td>
                  <input type="text" ng-model="patient.birthDate" placeholder="Birthday"></input>
               </td>
               <td>
                  <input type="text" ng-model="patient.gender" placeholder="Gender"></input>
               </td>
            </tr>
            <tr>
               <td colspan=5 align=center>
                  <input type="button" value="Enter New Patient" onclick="window.location.href='NewPatient.html'"></input>
               </td>
            </tr>
         </tbody>
      </table>
      <br/>
      <table align="center" cellpadding="5">
         <thead>
         <tr>
            <th ng-click="SortPatients('mrn')">
               MRN
            </th>
            <th ng-click="SortPatients('lastName')">
               Last Name
            </th>
            <th ng-click="SortPatients('firstName')">
               First Name
            </th>
            <th ng-click="SortPatients('birthDate')">
               Birth Date
            </th>
            <th ng-click="SortPatients('gender')">
               Gender
            </th>
         </tr>
         </thead>
         <tbody id="patientList">
         <tr ng-repeat="patient in patientList | orderBy: sortField | limitTo : 50 | filter : patient">
            <td>{{ patient.mrn }}</td>
            <td>{{ patient.firstName }}</td>
            <td>{{ patient.lastName }}</td>
            <td>{{ patient.birthDate }}</td>
            <td>{{ patient.gender }}</td>
         </tr>
         </tbody>
      </table>
   </body>
</html>
