<html ng-app="PatientCodingModule">
<head>
   <title>ICD Code Search Page</title>
   <!--script src="./scripts/angular.js"></script-->
   <script src="./scripts/angular.min.js"></script>
   <script src="./scripts/getCodes.js"></script>
   <script src="./scripts/PatientCoding.js"></script>
   <link rel="stylesheet" href="./styles/PatientCoding.css"/>
</head>
<body ng-controller="PatientCodingController">
   <table align="center" width="100%">
   <tr>
       <td align="left">
           <img ng-src="./images/logo.svg" id="faciltyLogo">
       </td>
       <td id="facilityName" align="left">
           <div name="facilityName">Simi Healthcare Center</div>
       </td>
   </tr>
   </table>
   <include src="./Header.html"></include>
   <table align="center" border=0>
     <tr>
         <td>
             Patient Name: <input type="text" value="{{ patient.firstName + ' ' + patient.lastName }}" disabled />
         </td>
         <td>
             MRN : <input type="text" value="{{ patient.mrn }}" disabled />
         </td>
         <td>
             DOB : <input type="text" value="{{ patient.birthDate }}" disabled />
         </td>
         <td>
             Gender : <input type="text" value="{{ patient.gender }}" disabled />
         </td>
     </tr>
     </table>
    <!--input type="text" ng-model="keyWord">
    <input type="button" value="Get Codes" ng-click="GetCodes();" ng-disabled="!keyWord"-->
    <table>
    <tr ng-repeat="code in codes[3]">
        <td>
            {{ code[0] }}
        </td>
        <td>
            {{ code[1] }}
        </td>
   </tr>
   </table>
   <div>{{ keywordsUsed }}
      <a href="PatientSearch.html">Patient Search</a>

Search for: <input type="text" ng-model="keyWord">
<table>
   <thead>
      <tr>
         <th>Code</th>
         <th>Description</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="eachCode in icdCodes | filter: keyWord | limitTo: 50 ">
         <td>{{ eachCode.code }}</td>
         <td>{{ eachCode.desc }}</td>
      </tr>
   </tbody>
</table>
</body>
</html>
