<html ng-app="SampleFrameModule">
<head >
   <script src="./scripts/angular.min.js"></script>
   <script src="./scripts/getCodes.js"></script>   <!-- Where icdCodes value comes from -->
   <script src="./scripts/PatientCodes.js"></script> <!-- Data for PatientCurrentCodes.html -->
   <script src="./scripts/SampleFrames.js"></script>
   <link rel="stylesheet" href="./styles/PatientCoding.css"/>
</head>
<body ng-controller="SampleFrameController">
   <table align=center>
      <tr>
         <td align="center">
              <img src="./images/logo.svg" id="faciltyLogo">
         </td>
      </tr>
      <tr>
         <td id="facilityName" align="center">
              <div name="facilityName">Simi Healthcare Center</div>
         </td>
      </tr>
   </table>

   <table height="100%" width="100%" border=1 bordercolor=blue>
      <tr>
         <td colspan=2 height="50px" id="PatientInfo">
            Patient's Info {{ 8 - 2 }}
            <input type="button" ng-click="GetCodes()">
         </td>
      </tr>
      <tr>
         <td width="50%" id="LowerLeft" valign="top">
            <div ng-include="'./includes/PatientCurrentCodes.html'"></div>
         </td>
         <td width="50%" id="LowerLeft"  valign="top">
            <select ng-model="RightFrameView">
               <option value="./includes/ICD_Code_Search.html" selected>Code Search</option>
               <option value="./includes/PatientHistory.html">Patient History</option>
            </select>
            <div ng-include=RightFrameView></div>
         </td>
      </tr>
   </table>
</body>
</html>
