<html ng-app="NewPatientModule">
<head>
   <title>Restful Service Experiment</title>
   <script src="./scripts/angular.js"></script>
   <script src="./scripts/NewPatient.js"></script>
</head>
<body ng-controller="NewPatientController">
<table align="center" border='0'>
   <thead>
      <tr>
         <th colspan="2">
            New Patient
         </th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th>MRN:</th>
         <th>
            <input type="text" placeholder="Enter MRN" name="mrn" ng-model="patient.mrn"></input>
         </th>
      </tr>
      <tr>
         <th>First Name:</th>
         <th>
            <input type="text" placeholder="Enter First Name" name="firstName" ng-model="patient.firstName"></input>
         </th>
      </tr>
      <tr>
         <th>Last Name:</th>
         <th>
            <input type="text" placeholder="Enter Last Name" name="lastName" ng-model="patient.lastName"></input>
         </th>
      </tr>
      <tr>
         <th>Gender:</th>
         <th align="left">
            <input type="radio" name="gender" value="M" ng-model="patient.gender" value='M'>M</input>&nbsp;
            <input type="radio" name="gender" value="F" ng-model="patient.gender" value='F'>F</input>
         </th>
      </tr>
      <tr>
         <th>Birthday:</th>
         <th align="left">
            <input type="date" placeholder="Enter Birthday" name="birthDate" ng-model="patient.birthDate"></input>
         </th>
      </tr>
      <tr>
         <td colspan="2" align="center">
            <input type="button" value="Create Patient" ng-click="SendData(patient);"/>
         </td>
      </tr>
   </tbody>
</table>patient

<tt>
mrn : {{ patient.mrn }} <br/>
firstName : {{ patient.firstName }}  <br/>
lastName : {{ patient.lastName }}  <br/>
gender : {{ patient.gender }}  <br/>
birthDate : {{ patient.birthDate }}  <br/>
</tt>
</body>
</html>
